* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #f9f8f8;
}

.content {
  width: 73%;
  margin: 160px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 36px;
  font-family: "yellowtail";
  color: #7eb693;
  font-style: italic;
  margin-bottom: 6px;
}

.content h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #274c5b;
}

.service-wrapper {
  display: flex;
  gap: 41px;
  width: 100%;
  margin-bottom: 35px;
}

.service-left {
  margin-top: 106px;
  flex-basis: 28.5%;
  text-align: right;
}
.service-right {
  margin-top: 106px;
  flex-basis: 28.5%;
}
.service-image {
  flex-basis: 37%;
}

.service-item {
  margin-bottom: 33px;
}

.service-item h4 {
  font-size: 25px;
  font-weight: 500;
  color: #274c5b;
  margin-bottom: 5px;
}

.service-item p {
  font-size: 18px;
  color: #525c60;
  line-height: 1.65;
}

.service-item img {
  width: 46px;
  height: 46px;
  margin-bottom: 5px;
  object-fit: cover;
}

.service-image {
  object-fit: cover;
}

.btn-wrapper {
  display: flex;
}

.explore-btn {
  padding: 26px 36px;
  border-radius: 16px;
  border: 2px solid #335b6b;
  font-size: 20px;
  font-weight: 700;
  color: #274c5b;
  display: flex;
  align-items: center;
  background-color: #f9f8f8;
}

.icon-btn {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #335b6b;
  width: 19px;
  height: 19px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn i {
  font-size: 6px;
}

.fresh-clean {
  width: 100%;
  height: 1073px;
  background-image: url("img-service/Background.png");
  padding: 179px 624px 537px;
  text-align: center;
}

.fresh-clean h2 {
  color: #274c5b;
  margin-bottom: 24px;
}
.desc {
  color: #274c5b;
  text-align: center;
  line-height: 1.65;
  font-family: "open sans";
  margin-bottom: 50px;
}

.video-btn {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  background-color: #7eb693;
  box-shadow: -4px 10px 12px #dbd1b5;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn {
  background-color: #7eb693;
  border: none;
  color: white;
  font-size: 24px;
}
